Source: itk
Version: 4.11.0
Description: Insight Segmentation and Registration Toolkit (ITK) is used for image processing and analysis.
Build-Depends: libjpeg-turbo, szip, zlib, libpng, tiff, expat, hdf5, vtk
